/* SearchMovies.css */
.movie-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 80vw;
    margin: 0 10vw;
}

@media (max-width: 1024px) {
    .movie-list .movie-card {
        width: calc(33.33% - 20px);
        /* Уменьшаем количество карточек на экране */
    }
}

@media (max-width: 768px) {
    .movie-list .movie-card {
        width: calc(50% - 20px);
        /* Две карточки в ряд на экранах планшетов */
    }
}

@media (max-width: 480px) {
    .movie-list .movie-card {
        width: 100%;
        /* Одна карточка в ряд на мобильных устройствах */
        margin-right: 0;
        /* Убираем отступ справа на мобильных устройствах */
    }
}